[v-cloak] {
    display: none;
}

.phonebook-container {
    width: 70%;
    background-color: #afb1b3;
    font-family: Arial, sans-serif;
    color: #4b4a4a;
}

@media screen and (max-width: 960px) {
    .phonebook-container {
        width: 100%;
    }
}

.phonebook-container h1 {
    color: #f8fcfe;
}

.phonebook-container form {
    width: 400px;
}

.phonebook-container .input-group-text {
    min-width: 130px;
}

.add-button,
.search-button {
    color: #fdfeff;
    background-color: #3b98de;
    min-width: 80px
}

.create-contact-form .input-group {
    height: 60px;
}

.phonebook-container .input-group span,
.phonebook-container .input-group input,
.search-button,
.add-button {
    height: 35px;
}

.delete-button {
    padding: 0 8px;
}

.check-contact-column,
.delete-contact-column {
    width: 40px;
}