* {
    box-sizing: border-box;
}

.course-information-block {
    max-width: 910px;
    background-color: #fdeed5;
    padding: 7px 11px 2px 10px;
    font-family: Arial, sans-serif;
    color: #6e6669;
    -webkit-font-smoothing: antialiased;
    margin: auto;
}

.header,
.price-block,
.description-block,
.course-information-block p {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.header {
    font-weight: normal;
    font-size: 32px;
    line-height: 1.06em;
    text-transform: uppercase;
}

.price-block {
    font-size: 19px;
}

.description-block {
    font-size: 18px;
    line-height: 1.35em;
    text-indent: 0.9em;
    text-align: justify;
}

.blue-text {
    color: #3c8db4;
    font-weight: bold;
}

.line-through-text {
    text-decoration: line-through;
}

.normal-space,
.description-block p {
    margin-bottom: 11px;
}

.extra-space {
    margin-bottom: 14px;
}

.price-block p:last-of-type {
    margin-bottom: 8px;
}

.description-block p:last-of-type {
    margin-bottom: 0;
}