* {
    box-sizing: border-box;
}

.phonebook-block {
    width: 500px;
    background-color: #cecece;
    padding: 5px 15px;
    font-family: Arial, sans-serif;
    color: #4b4a4a;
    margin: auto;
}

.fields-block > * {
    display: inline-block;
    vertical-align: top;
}

.phonebook-block h1 {
    width: 150px;
    margin: 0 auto 8px;
    size: 25px;
    color: #205067;
}

.phonebook-block form {
    margin: auto;
    width: 355px;
}

.phonebook-block label {
    padding-top: 3px;
    width: 150px;
}

.phonebook-block input {
    width: 200px;
    margin-bottom: 15px;
}

.phonebook-block button {
    color: #fdfeff;
    background-color: #3b98de;
    padding: 2px 25px;
    margin-right: 1px;
}

.add-button {
    display: flex;
    justify-content: right;
}

.phonebook-block button:hover {
    cursor: pointer;
    background-color: #205067;
}

.error-message {
    color: #f00;
    display: none;
}

.invalid {
    border-color: #f00;
}

.todo-item-text {
    padding-right: 5px;
}

.invalid ~ .error-message {
    display: block;
}

.todo-item + .todo-item {
    margin-top: 5px;
}