{% extends 'layout.twig' %}

{% block body %}
    <div id="app" class="phonebook-container container flex-row justify-content-center p-3">
        <h1 class="container d-flex justify-content-center">Phonebook</h1>
        <div class="container d-flex justify-content-center">
            <form @submit.prevent="createContact" id="form" class="needs-validation" novalidate>
                <div class="input-group mb-1">
                    <span class="input-group-text">First name</span>
                    <input v-model="firstName" type="text" class="form-control">
                    <div class="invalid-feedback">Field is required</div>
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text">Last name</span>
                    <input v-model="lastName" type="text" class="form-control">
                    <div class="invalid-feedback">Field is required</div>
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text">Phone number</span>
                    <input v-model="phoneNumber" type="text" class="form-control">
                    <div class="invalid-feedback">Field is required</div>
                </div>
                <div class="add-button container d-flex justify-content-end p-0">
                    <button class="btn btn-primary mb-3" type="submit">Add</button>
                </div>
            </form>
            <form @submit.prevent="loadContacts" id="form" class="needs-validation" novalidate>
                <div class="input-group mb-1">
                    <span class="input-group-text">Search</span>
                    <input v-model="term" type="text" class="form-control">
                </div>
                <div class="add-button container d-flex justify-content-end p-0">
                    <button class="btn btn-primary mb-3" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-success table-striped table-bordered table-hover">
                <thead>
                <tr class="table-light">
                    <th scope="col">№</th>
                    <th scope="col">Last name</th>
                    <th scope="col">First name</th>
                    <th scope="col">Phone number</th>
                    <th class="delete-contact-column" scope="col"></th>
                </tr>
                </thead>
                <tbody v-cloak>
                <tr v-for="(contact, index) in contacts" :key="contact.id">
                    <td>{% verbatim %}{{ index+1 }}{% endverbatim %}</td>
                    <td v-text="contact.firstName"></td>
                    <td v-text="contact.lastName"></td>
                    <td v-text="contact.phoneNumber"></td>
                    <td>
                        <button @click="showDeleteContactConfirmation(contact)" type="button" class="btn btn-danger">X
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ref="deleteConfirmDialog" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deletion confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete the contact?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button @click="deleteContact" data-bs-dismiss="modal" type="button"
                                class="btn btn-primary">OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
