* {
    box-sizing: border-box;
}

.temperature-converter-block {
    width: 550px;
    background-color: #cecece;
    padding: 5px 20px;
    font-family: Arial, sans-serif;
    color: #4b4a4a;
    margin: auto;
}

.temperature-converter-block form > *,
.temperature-converter-block > div > span {
    display: inline-block;
    vertical-align: top;
}

.temperature-converter-block > div {
    margin-bottom: 5px;
}

.temperature-converter-block h1 {
    font-size: 25px;
    color: #205067;
    text-align: center;
}

.measure-unit-name {
    width: 180px;
    color: #3c8db4;
    font-weight: bold;
}

.temperature-converter-block form {
    height: 40px;
    margin-bottom: 3px;
}

.temperature-converter-block label {
    padding-top: 3px;
}

.temperature-converter-block input {
    width: 200px;
}

.error-message {
    color: #f00;
    display: none;
    font-size: 14px;
}

.invalid {
    border-color: #f00;
}

.invalid ~ .error-message {
    display: block;
}

.temperature-converter-block button {
    color: #fdfeff;
    background-color: #3b98de;
    height: 24px;
}

.temperature-converter-block button:hover {
    cursor: pointer;
    background-color: #205067;
}