* {
    box-sizing: border-box;
}

@font-face {
    font-family: "St.Sign Normal";
    src: url("ofont.ru_St.Sign.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.table {
    font-family: "St.Sign Normal", sans-serif;
    font-size: 21px;
    border-collapse: collapse;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.table th,
.table td {
    border: 1px solid #cecece;
    padding: 15px 11px 11px 11px;
}

.table th {
    color: #fdfeff;
    background-color: #3b98de;
    text-align: left;
}

.table td {
    color: #4b4a4a;
    font-weight: lighter;
}

.table tr:nth-child(odd) {
    background-color: #eee;
}

.first-name,
.last-name {
    width: 174px;
}

.job-title {
    width: 309px;
}

.twitter {
    width: 200px;
}