<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhoneBook Vue</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="phoneBookVue.css">
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="phoneBookVue.js"></script>
</head>
<body>
<div id="app" class="phonebook-container container flex-row justify-content-center p-3">
    <h1 class="container d-flex justify-content-center">Phonebook</h1>
    <div class="container d-flex justify-content-center">
        <form @submit.prevent id="form" class="needs-validation" novalidate>
            <div class="input-group mb-1">
                <span class="input-group-text">First name</span>
                <input :class="{invalid: isNewFirstNameInvalid}" v-model="newFirstNameText" type="text"
                       class="form-control">
                <div class="invalid-feedback">Field is required</div>
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text">Last name</span>
                <input :class="{invalid: isNewLastNameInvalid}" v-model="newLastNameText" type="text"
                       class="form-control">
                <div class="invalid-feedback">Field is required</div>
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text">Phone number</span>
                <input :class="{invalid: isNewPhoneNumberInvalid}" v-model="newPhoneNumberText" type="text"
                       class="form-control">
                <div class="invalid-feedback">Field is required</div>
            </div>
            <div class="add-button container d-flex justify-content-end p-0">
                <button @click="addContact" class="btn btn-primary mb-3" type="submit">Add</button>
            </div>
        </form>
    </div>
    <table class="table table-success table-striped table-bordered table-hover">
        <thead>
        <tr class="table-light">
            <th scope="col">№</th>
            <th scope="col">Last name</th>
            <th scope="col">First name</th>
            <th scope="col">Phone number</th>
            <th class="delete-contact-column" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(contact, index) in contacts" :key="contact.id">
            <td v-text="index+1"></td>
            <td v-text="contact.lastName"></td>
            <td v-text="contact.firstName"></td>
            <td v-text="contact.phoneNumber"></td>
            <td>
                <button @click="deleteContact(index)" class='delete-button' type='button'>x</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>