.phonebook-container {
    background-color: #afb1b3;
    font-family: Arial, sans-serif;
    color: #4b4a4a;
}

@media (min-width: 576px) {
    .phonebook-container form {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .phonebook-container form {
        width: 500px;
    }
}

.phonebook-container h1 {
    color: #f8fcfe;
}

.phonebook-container .input-group {
    height: 60px;
}

.phonebook-container .input-group-text {
    min-width: 130px;
}

.phonebook-container .input-group span,
.phonebook-container .input-group input {
    height: 35px;
}

.add-button button {
    color: #fdfeff;
    background-color: #3b98de;
}

.delete-button {
    padding: 0 8px;
}

.delete-contact-column {
    width: 40px;
}