<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhoneBook Vue</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="phoneBookVue.css" rel="stylesheet">
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="phoneBookVue.js"></script>
</head>
<body>
<div v-cloak id="app" class="phonebook-container container p-3">
    <h1 class="text-center">Phonebook</h1>
    <div class="d-flex justify-content-center">
        <form @submit.prevent id="form" class="needs-validation" novalidate>
            <div class="input-group mb-1">
                <span class="input-group-text">First name</span>
                <input :class="{'is-invalid': isNewFirstNameInvalid}"
                       v-model="newFirstNameText"
                       type="text"
                       class="form-control">
                <div class="invalid-feedback">Field is required</div>
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text">Last name</span>
                <input :class="{'is-invalid': isNewLastNameInvalid}"
                       v-model="newLastNameText"
                       type="text"
                       class="form-control">
                <div class="invalid-feedback">Field is required</div>
            </div>
            <div class="input-group mb-1">
                <span class="input-group-text">Phone number</span>
                <input :class="{'is-invalid': isNewPhoneNumberInvalid}"
                       v-model="newPhoneNumberText"
                       type="text"
                       class="form-control">
                <template v-if="isNewPhoneNumberExists">
                    <div class="invalid-feedback">Phone number is already exists</div>
                </template>
                <template v-else>
                    <div class="invalid-feedback">Field is required</div>
                </template>
            </div>
            <div class="add-button d-flex justify-content-end p-0">
                <button @click="addContact" class="btn btn-primary mb-3" type="submit">Add</button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-success table-striped table-bordered table-hover">
            <thead>
            <tr class="table-light">
                <th scope="col">№</th>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
                <th scope="col">Phone number</th>
                <th class="delete-contact-column" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(contact, index) in contacts" :key="contact.id">
                <td v-text="index + 1"></td>
                <td v-text="contact.lastName"></td>
                <td v-text="contact.firstName"></td>
                <td v-text="contact.phoneNumber"></td>
                <td>
                    <button @click="showDeleteContactConfirmation(index)"
                            class="delete-button btn btn-danger"
                            type="button"
                            title="Delete contact">x
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ref="deleteConfirmDialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletion confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the contact?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button @click="deleteContact"
                            data-bs-dismiss="modal"
                            type="button"
                            class="btn btn-primary">OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>