* {
    box-sizing: border-box;
}

.todo-list-block {
    width: 80%;
    background-color: #cecece;
    padding: 5px 25px;
    font-family: Arial, sans-serif;
    color: #4b4a4a;
    margin: auto;
}

.todo-list-block h1 {
    margin-bottom: 16px;
    font-size: 30px;
    color: #205067;
    text-align: center;
}

.todo-list-block form,
.todo-text-line,
.todo-list {
    display: flex;
}

.todo-list li {
    display: list-item;
}

.todo-text-line,
.todo-text-line div,
.todo-list,
.todo-item-text,
.todo-list-block input,
.todo-list ul,
.todo-list li {
    width: 100%;
}

.todo-text-line div {
    padding: 2px;
}

.todo-list-block label {
    min-width: 100px;
    padding-top: 3px;
    font-size: 18px;
    font-weight: bold;
}

.todo-list-block button {
    margin: 2px 2px 0 5px;
    color: #fdfeff;
    background-color: #3b98de;
    height: 24px;
    min-width: 70px;
}

.todo-list-block h1,
.todo-list-block label {
    margin-left: 20px;
}

.todo-item-text {
    margin-top: 5px;
    margin-bottom: 24px;
}

.todo-list-block button:hover {
    cursor: pointer;
    background-color: #205067;
}

.error-message {
    font-size: 13px;
    color: #f00;
    display: block;
    opacity: 0;
}

.invalid {
    border-color: #f00;
}

.invalid ~ .error-message {
    display: block;
    opacity: 1;
}